.sl-markdown-content h2 {
    display: inline;
    font-size: 1.5rem;
}
  
.sl-markdown-content p {
    display: inline;
}

.sl-markdown-content p::after {
    content: "";
    display: block;
    padding-top: 0.5rem;
}

.sl-markdown-content :not(h1, h2, h3, h4, h5, h6, .sl-heading-wrapper) + :is(.sl-heading-wrapper) {
    margin-top: 0em;
}